/*元素选择器*/
body{
    background-color: #f0f2f5;
}
h1{
    /*位置参数*/
    position: relative;
    left: 200px;
    top: -80px;
    /*字体参数*/
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    color: #dadde1;
    text-align: center;
    width: 90%;
}

/*类选择器*/
div.input-frame{
    height: 420px;
    width: 490px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 10px;
}
input.input-box{
    /*位置参数*/
    position: relative;
    left: 18px;
    top: 30px;
    /*外观参数*/
    height: 50px;
    width: 450px;
    border: none;
    border-radius: 10px;
    background-color:#e8f0fe;
    color: black;
    /*字体参数*/
    font-weight:bold;
    font-size: 20px;
}
.padding-div{
    height: 70px;
    width: 500px;
}

/*id选择器*/
#div-left{
    position: relative;
    height: 700px;
    width: 700px;
    /* border: solid blueviolet; */
    top: 300px;
    left: 15%;
}
#div-right{
    position: relative;
    height: 430px;
    width: 500px;
    /* border: solid greenyellow; */
    left: 62%;
    top:-500px;
}
#login-button{
    background-color: #ff4c06;
    color: white;
    transition-duration: 0.4s;
}
#login-button:hover{
    background-color: white;
    color: black;
    border: 2px solid  #ff4c06;
}
#register-button{
    position: relative;
    background-color: #42b72a;
    border: none;
    border-radius: 10px;
    font-weight:bold;
    font-size: 20px;
    color: white;
    height: 55px;
    width: 120px;
    left: 190px;
    top:-25px;
    transition-duration: 0.4s;
}
#register-button:hover{
    background-color: white;
    color: black;
    border: 2px solid  #42b72a;
}
#slogan{
    position: relative;
    height: 100px;
    width: 440px;
    bottom: 40px;
    left: 10px;
}
#logo{
    height: 200px;
    width: 200px;
}
#description{
    position: relative;
    left: 260px;
    top: -78px;
}