/*元素选择器*/
body{
    background-color: #f0f2f5;
}
h1{
    position: relative;
    left: 20px;
    top: 5px;
    font-size: 40px;
}
h3{
    position: relative;
    top: -25px;
    left: 20px;
    font-weight: lighter;

}
hr{
    position: relative;
    color: #dadde1;
    top: -26px;
}
p{
    position: relative;
    top: -50px;
    left: 20px;
}
select{
    border: none;
    border-radius: 10px;
    background-color:#f5f6f7;
    font-weight:bold;
    font-size: 20px;
    height: 50px;
}

/*类选择器*/
div.input-frame{
    height: 700px;
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 10px;
}
input.input-box{
    border: none;
    border-radius: 10px;
    background-color:#f5f6f7;
    font-weight:bold;
    font-size: 20px;
    height: 50px;
}

/*id选择器*/
#div-main{
    position: relative;
    height: 700px;
    width: 700px;
    /* border: solid blueviolet; */
    margin: 0 auto;
    top: 100px;
}
#logo{
    position: relative;
    height: 75px;
    width: 75px;
    left: 600px;
    top: -125px;
}
#lastname{
    position: relative;
    width: 330px;
    left:10px;
    top:-80px;
}
#firstname{
    position: relative;
    width: 330px;
    left:15px;
    top:-80px;
}
#username{
    position: relative;
    width: 674px;
    left: 10px;
    top: -65px;
}
#password{
    position: relative;
    width: 674px;
    left: 10px;
    top: -50px;
}
#birthday{
    position: relative;
    width: 674px;
    left: 10px;
    top: -60px;
}
#sex{
    width: 120px;
    position: relative;
    left: 70px;
    top: -100px;
}
#avatar-text{
    position: relative;
    left: 240px;
    top: -150px;
}
#avatar{
    width: 390px;
    position: relative;
    left: 295px;
    top: -200px;
}
#register-button{
    position: relative;
    background-color: #42b72a;
    border: none;
    border-radius: 10px;
    font-weight:bold;
    font-size: 20px;
    color: white;
    height: 50px;
    width: 300px;
    left: -190px;
    top: -35px;
    transition-duration: 0.4s;
}
#register-button:hover{
    background-color: white;
    color: black;
    border: 2px solid  #42b72a;
}
